
span.p:has(x-alert-box) {
    opacity: 1 !important;
}

x-alert-box {
    padding: 50px;
    display:block;
    width: 100%;
    height: 100%;
    position:relative;

    border-radius: 5px;
}

x-alert-box[type="info"] {
    background: hsl(210deg, 38%, 15%);
    border-left: 4px solid hsl(230deg, 100%, 69%);
}
